<%- include('partials/header.ejs') %>

<title>View All Blogs</title> 

<body>
  <%- include('partials/nav.ejs') %>

  <div class="container mt-5">
    <h1>View Blogs On Blogs For All</h1>
    <h4>Create Your Own Account To Upload Blogs</h4>

    <div class="container mt-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
            <% blogs.forEach(function(blog) { %>
            <div class="col">
                <div class="card h-100">
                    <img src="<%= blog.coverImage %>" class="card-img-top" alt="Cover Image" style="height: 180px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title" style="font-size: 1rem;"><%= blog.title %></h5>
                        <p class="card-text" style="font-size: 0.9rem;"><%= blog.description %></p>
                        <a href="/<%= blog.id %>" class="btn btn-sm btn-primary">View</a>

                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>



  <%- include('partials/script.ejs') %>
