<%- include('partials/header.ejs') %>

<title>Home Page</title> 

<body>
  <%- include('partials/nav.ejs') %>

  <div class="container mt-5">
    <% if (locals.user) { %>
      <h1>Welcome <%= user.fullName %></h1>
    <% } %>
  </div>

      <div class="container mt-4">
        <div class="row">
          <% blogs.forEach(function(blog) { %>
            <div class="col-md-4 mb-4">
              <div class="card" style="width: 100%;">
                <img src="<%= blog.coverImage %>" class="card-img-top" alt="Cover Image">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.title %></h5>
                  <p class="card-text"><%= blog.description %></p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
            </div>
          <% }); %>
        </div>
      </div>


  <%- include('partials/script.ejs') %>
